env/
.env
.vscode/
.DS_Store
files/
.cache/
.streamlit/
*.gguf
.cursor/
practice/cache.db
practice/model.json
practice/prompt.json
practice/prompt.yaml
practice/db
__pycache__/
*.pyc
chroma.sqlite3
practice/*.md